extends layout

block content
  h2 Alejandro Huerta, is this number correct?
  div(class='row')
    div(class='col-sm-12')
      form(action='/confirm' method='post')
        input(type='hidden' name='personId' value='#{person._id}')
        div(class='form-group row')
          label(class='form-control-label col-sm-2') Phone Number
          div(class='col-sm-10')
            input(type='text' class='form-control' name='phoneNumber' value='#{person.phoneNumber}')
        button(type='submit' class='btn btn-primary') Submit Changes
        a(class='btn btn-default' href='/') Go Home